html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Ubuntu-medium', sans-serif;
    line-height: 1.42;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

ul {
    margin: 0;
    padding: 0;
    li {
    list-style: none;
    }
}

b {
    font-family: 'Ubuntu-b'
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gagalin';
    margin: 0;
}
h1 {
    font-size: 72px;
}
p {
    margin: 0;
}
* {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    min-width: 940px;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    width: 940px;
    margin: 0 auto;
}
.section {
    height: 100vh;
    min-height: 650px;
    &_centered {
        .title {
            width: 100%;
            text-align: center;
            color: #2f3234;
        }
        .container {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        }
    }
}
.footer {
    position: relative;
    width: 100%;
}
