html {
    font-size: 16px;

    @include tablets() {
        font-size: 14px;
    }
    @include phones() {
        font-size: 13px;
    }
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Ubuntu-medium', sans-serif;
    line-height: 1.42;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

ul {
    margin: 0;
    padding: 0;
    li {
    list-style: none;
    }
}

b {
    font-family: 'Ubuntu-b'
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gagalin';
    margin: 0;
}
h1 {
    font-size: rem(72px);
    color: $yellow;
    margin-bottom: rem(45px);
}
p {
    margin: 0;
}
* {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}
.maincontent {
    height: 100%;
    transition: transform 1s;
    will-change: transform;
}
.container {
    max-width: rem(940px);
    margin: 0 auto;
    width: 95%;
    // position: relative;
    display: flex;
    flex-direction: column;
}
.section {
    height: 100vh;
    min-height: rem(650px);
    &_centered {
        .title__best {
            width: 100%;
            text-align: center;
        }
        .container {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        }
    }
}

