$white: #ffffff;
$orange: #e45028;
$red: #e35028;
$black: #2f3234;
$yellow: #f9b43b;
@mixin triangle_up{
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    border-left: rem(6px) solid transparent;
    border-right: rem(6px) solid transparent;
    border-bottom: rem(9px) solid #f9b43b;
    margin-right: rem(10px);
}

$comp: 1000px;
$desc: 890px;
$tablets: 768px;
$phones: 480px;
$phones2: 410px;
$phones3: 360px;



@import "layout/fonts.css";
@import "layout/media.scss";
@import "layout/base.scss";

@import "./blocks/*.scss";
