.btn {
    padding: 8px 15px;
    background: $orange;
    border: 1px solid $orange;
    border-radius: 5px;
    font-size: 14px;
    color: $white;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Ubuntu-medium';

    &_backgroind_black {
        background: #000;
    }
}
.reset__order-btn {
    margin-left: 20px;
    font-family: 'Ubuntu-light';
    font-size: 14px;
    color: $white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .0);
    border: none;
    outline: 1px solid rgba(0, 0, 0, .0);
}