.btn {
    padding: 8px 15px;
    background: $orange;
    border: 1px solid $orange;
    border-radius: 5px;
    font-size: 13px;
    color: $white;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Ubuntu-medium';

    &_backgroind_black {
        background: #000;
    }
}