.fixed-menu {
    position: fixed;
    top: 90px;
    right: 40px;

}
.fixed-menu__item {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid transparent;
    position: relative;
    border-radius: 50%;
    margin-bottom: 20px;

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #fff;
    }

    &:hover {
        border-color: #fff;
        cursor: pointer;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
.fixed-menu__item_active {
    border: 1px solid #fff;
    cursor: pointer;
}