.footer {
    position: absolute;
    bottom: 0;
    background: #0f0f0f;

    width: 100%;
    
}
.footer__container {
    display: flex;
    flex-flow: row nowrap;
    min-height: 60px;
    align-items: center;
}
.footer__left-col {
    width: 50%;
}
.footer__right-col {
    width: 50%;
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    
}
.footer__adress {
    font-family: 'Ubuntu-light';
    font-size: 14px;
    color: $white;
}
.tel__number {
    text-decoration: none;
    font-family: 'Ubuntu-b';
    font-size: 14px;
    color: $orange;
    margin-left: 20px;
}
.footer-soc__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer_soc-item {
    margin-left: 20px;
}
.soc__link {
    opacity: .3;
    &:hover {
        opacity: 1;
    }
}