.header {
    // min-height: 69px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .logo {
        display: flex;
        align-items: center;

    }

    .menu {
        font-size: 13px;
        text-transform: uppercase;

        .menu__list {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            .menu__item {

                display: flex;
                align-items: center;

                &:last-child {
                    &:after {
                        display: none;
                    }
                }

                &:after {
                    content: "";
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    display: inline-block;
                    background: $white;
                    margin: 0 10px;
                }

                .menu__link {
                    color: $white;
                    text-decoration: none;

                }
            }
        }
    }

}