.title__menu {
    color: $white;
    position: absolute;
    top: 7%;
    left: 8%;
    
    
}
.title__team {
    @include tablets() {
        text-align: center;
    }
}
.title__hero {
    @include phones(){
        margin-bottom: 0;
        font-size: rem(60px);
        line-height: 1.1;
        margin-top: 20px;
    }
    
}