.best {
    background: url(./../img/background/second-background.jpg) center center no-repeat;
    background-size: cover;
}
.best__list {
    display: flex;
    
}
.best__item {
    flex: 1;
    margin-right: rem(15px);
    text-align: center;
    &:last-child {
        margin-right: 0;
    }
}
.best__icon {
    display: inline-block;
}
.best__desc-title {
    font-family: 'Livehack';
    font-size: rem(24px);
}
.best__desc-text {
    font-family: 'Ubuntu-light';
    font-size: rem(14px);
    color: #2f3234;
}