.best {
    background: url(./../img/background/second-background.jpg) center center no-repeat;
    background-size: cover;
}
.best__list {
    display: flex;
    @include phones() {
        flex-direction: column;
    }
    
}
.best__item {
    flex: 1;
    margin-right: rem(15px);
    text-align: center;
    display: flex;
    flex-direction: column;
    @include phones() {
        flex-direction: row;
        margin-right: 0;
        margin-bottom: rem(40px);
        
    }
    &:last-child {
        margin-right: 0;
    }
}
.best__img {
    @include phones() {
        width: rem(150px);
        margin-right: rem(20px);
    }
    
}

.best__desc {
    @include phones() {
        text-align: left;
    }
}
.best__desc-title {
    font-family: 'Livehack';
    font-size: rem(24px);
    @include phones() {
        margin-bottom: rem(20px);
    }
}
.best__desc-text {
    font-family: 'Ubuntu-light';
    font-size: rem(14px);
    color: #2f3234;
}