.burgers {
    background-image: linear-gradient(#f9b43b, #eb8d38, #f9b43b);
}

.burgers__list {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.arrow-scroll-icon-left {
    transform: rotate(90deg);
}

.arrow-scroll-icon-right {
    transform: rotate(-90deg);
}

.burgers__img {
    display: inline-block;
    margin-top: rem(50px);
    flex: 1;
}

.dark__burger__img {
    max-width: 100%;
    max-height: 100%;
}

.burgers__slider {
    display: flex;
    overflow: hidden;
    width: 880px;
    @include comp() {
        width: rem(708px);
    }
    @include desc () {
        width: rem(650px);
    }
    @include tablets() {
        width: rem(435px);
    }
    @include phones () {
        width: rem(300px);
    }
}
.items__slider {
    display: flex;
    position: relative;
    will-change: right;
    transition: right 0.3s;
}
.item__slider {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 880px;
    @include comp() {
        width: rem(708px);
    }
    @include desc () {
        width: rem(650px);
    }
    @include tablets() {
        width: rem(435px);
        flex-direction: column;
        text-align: center;
    }
    @include phones () {
        width: rem(300px);
    }
}
.burgers__slider-left-col {
    display: flex;
    position: relative;
    width: 50%;

    @include tablets() {
        width: 100%;
    }

}

.burgers__slider-right-col {
    display: flex;
    flex-direction: column;
    margin-left: rem(20px);
    width: 50%;

    @include tablets() {
        width: 100%;
        margin-left: 0;
    }
}

.burgers__desc {
    margin-bottom: rem(45px);

    @include tablets() {
        margin-bottom: 0;
    }
}

.burgers__desc-text {
    color: $white;
    font-family: 'Ubuntu-light';
    font-size: rem(14px);
}

.burgers__buy {
    display: flex;
    align-items: baseline;

    @include tablets() {

        justify-content: center;
    }

}

.burgers__buy__cost {
    color: #e35028;
    font-family: 'Gagalin';
    font-size: rem(72px);

    @include phones() {
        font-size: rem(50px);
    }
}

.burgers__buy__rubles {
    color: #e35028;
    font-family: 'Gagalin';
    font-size: rem(30px);
}

.burgers__struck {
    position: absolute;
    top: -15%;
    left: 0;
    width: 90px;
    height: 90px;
    background-color: #f08c33;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1000;
}

.burger-icon-link,
.kkal-icon-link {
    text-decoration: none;
}

.burgers__struck-text,
.burgers__kkal-text {
    font-family: 'Gagalin';
    font-size: 14px;
    color: $white;
}

.burgers__kkal {
    position: absolute;
    top: 100%;
    left: 0;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: .5;

    @include tablets() {
        top: -10%;
        left: 75%;
        
    }
    @include phones() {
        left: 70%;
        
    }
}

.burgers__kkal-gramm {
    font-family: 'Gagalin';
    font-size: 20px;
    color: $white;
    position: absolute;
    top: 20px;
    left: 15px;
    @include tablets() {
        right: 15px;
        
    }
}
.burgers__struck-menu {
    position: absolute;
    left: 90px;
    top: 0;
    width: 250px;
    height: 383px;
    background-color: #fff;
    opacity: 0.9;
    border-radius: 5px;
    display: flex;
    display: none;
    
    @include tablets {
        width: 300px;
        height: 332px;
    }
    @include phones {
        width: 200px;
        height: 302px;
    }
}
.struck-menu-list {
    display: flex;
    flex-direction: column;
    padding: rem(20px);
    width: 100%;
    @include tablets {
        padding-right: rem(72px);
    }
    @include phones {
        padding: rem(10px) rem(60px) rem(10px) rem(10px);
    }
    
}
.struck-menu-item {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(17px);
    &:last-child {
        margin-bottom: 0;
    }
    @include tablets{
        margin-bottom: rem(10px);
    }
}
.srtuck-item__name {
    font-family: 'Ubuntu-medium';
    font-size: rem(14px);
    margin-right: rem(30px);
    color: #2f3234;
    @include phones {
        margin-right: 0;
    }
    
}
.struck-item__gramm {
    font-family: 'Ubuntu-light';
    font-size: rem(14px);
    color: #2f3234;
}
.close_struck {
    display: none;
    background: #eb8262;
    height: 30px;
    position: relative;
    width: 6px;
    transform: rotate(45deg);
    border-radius: 2px;
    position: absolute;
    right: 10%;
    top: rem(20px);
    &:after {
        background: #eb8262;
        content: "";
        height: 6px;
        left: -12px;
        position: absolute;
        top: 12px;
        width: 30px;
        border-radius: 2px;
        
    }
    @include tablets() {
        display: block;
        
    }
}