.reviews {
    background: #000;
    position: relative;
}

.reviews__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.reviews__item {
    width: 25%;
    height: 50%;
    background: center center / cover no-repeat;
    position: relative;
    filter: grayscale(100%);

    @include tablets() {
        width: 50%;
        height: 25%;
    }
    &+.reviews__item-fix {
        background: center left / cover no-repeat;
    }



    &:hover {
        .reviews__item-hover {
            opacity: 1;
        }
    }

}

.reviews__item-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, 0.5);
    padding: rem(24px) rem(22px);
    color: $white;
    text-align: left;
    opacity: 0;
    transition: opacity .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include tablets() {
        text-align: center;
    }
}

.reviews__title {
    font-family: 'Gagalin';
    font-size: rem(14px);
}

.reviews__text {
    font-family: 'Ubuntu-light';
    font-size: rem(14px);
    overflow: hidden;
    margin-bottom: rem(10px);

    @include phones() {
        display: none;
    }
}

.reviews__btn {
    @include phones() {
        display: flex;
        justify-content: center;
    }
}