.title__menu {
    color: $white;
    position: absolute;
    top: 7%;
    left: 8%;
    
    
}
.title__team {
    @include tablets() {
        text-align: center;
    }
    @include phones(){
        margin-bottom: rem(30px);
        font-size: rem(50px);
        line-height: 1.1;
        text-align: center;
    }
}
.title__hero {
    @include phones(){
        margin-bottom: 0;
        font-size: rem(60px);
        line-height: 1.1;
        margin-top: 20px;
    }
    
}
.title__form {
    text-align: center;
    @include tablets() {
        text-align: center;
    }
    @include phones(){
        margin-bottom: 0;
        font-size: rem(50px);
        line-height: 1.1;
        text-align: center;
    }
}
.title__best {
    color: black;
    @include phones(){
        margin-bottom: rem(40px);
        font-size: rem(50px);
        line-height: 1.1;
        text-align: center;
    }
}
.title__burgers {
    color: $white;
    line-height: 1.1;
    margin-bottom: rem(60px);
    @include phones() {
        font-size: rem(50px);
        margin-bottom: rem(20px);
    }
}
