.menu {
    background: url(./img/background/menu-background.jpg) center center / cover no-repeat;
    position: relative;
}

.menu__accordeon {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.menu__accordeon-list {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: flex-end;
    height: 100%;
}

.menu__accordeon-item {
    display: flex;
    height: 100%;
    cursor: pointer;
    
}

.menu-accordeon__trigger {
    min-width: rem(80px);
    display: flex;
    height: 100%;
    // float: left;
    text-decoration: none;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 3% 2%;

    @include phones {
        min-width: rem(40px);
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(20, 20, 20, 0.7);
        display: block;
    }
}

.title__accordeon-text {
    position: absolute;
    transform: rotate(-90deg);
    top: 90%;
    left: 50%;
    white-space: nowrap;
    transform-origin: 0 50%;
    font-family: 'Gagalin';
    font-size: rem(40px);
    color: $white;
    text-align: center;

}

.menu__desc {
    width: 0;
    overflow: hidden;
    background: rgba(#2f3234, .93);
    height: 100%;
    transition: width .3s;
    // float: left;

}

.js-title__menu {
    width: 70%;
    transition: width 2s;

    @include tablets {
        width: 100%;
    }

    @include phones {
        width: 100%;
    }
    .title__accordeon-text {
        color: $yellow;
    }
    .menu__desc {
        width: 100%;
        
    }
}

.menu__text {
    font-family: 'Ubuntu-light';
    font-size: rem(14px);
    color: $white;
    padding: rem(60px) rem(30px);

}